---
import { getCollection } from 'astro:content';
import { format } from 'date-fns';

import { ContentSwitch } from '../../components/ContentSwitch';
import Layout from '../../layouts/Layout.astro';

const postsMk = await getCollection('mk', ({ data }) => {
  return data.category === 'announcements' || data.category === 'events' || data.category === 'blog';
});

const postsEn = await getCollection('en', ({ data }) => {
  return data.category === 'announcements' || data.category === 'events' || data.category === 'blog';
});

const sortedPostsMk = postsMk.sort((a, b) => {
  const aDate = a.data?.date || new Date();
  const bDate = b.data?.date || new Date();

  return bDate.getTime() - aDate.getTime();
});

const sortedPostsEn = postsEn.sort((a, b) => {
  const aDate = a.data?.date || new Date();
  const bDate = b.data?.date || new Date();

  return bDate.getTime() - aDate.getTime();
});
---

<Layout title="Blog">
  <div class="flex items-center justify-center w-full pt-10 px-4 mb-10">
    <div class="w-full max-w-[800px] px-4 bg-primary-50 mb-20">
      <ContentSwitch client:only="solid">
        <section lang="en" slot="contentsEn">
          <h1>BeerJS' blog</h1>
          <p class="subtitle">BeerJS Skopje, in writing 🍻</p>
          {
            sortedPostsEn.map((post) => (
              <a href={`/${post.slug}`}>
                <article class="card">
                  <h2>{post.data.title}</h2>
                  {post.data.date && <date>🗓️ {format(post.data.date, 'yyyy-MM-dd')}</date>}
                  {post.data.image && <img src={post.data.image} />}
                  {post.data.description && (
                    <p>
                      {post.data.description} <span>More ➜</span>
                    </p>
                  )}
                </article>
              </a>
            ))
          }
        </section>
        <section lang="mk" slot="contentsMk">
          <h1>Блогот на BeerJS</h1>
          <p class="subtitle">BeerJS Скопје, во писмена форма 🍻</p>
          {
            sortedPostsMk.map((post) => (
              <a href={`/${post.slug}`}>
                <article class="card">
                  <h2>{post.data.title}</h2>
                  {post.data.date && <date>🗓️ {format(post.data.date, 'yyyy-MM-dd')}</date>}
                  {post.data.image && <img src={post.data.image} />}
                  {post.data.description && (
                    <p>
                      {post.data.description} <span>Повеќе ➜</span>
                    </p>
                  )}
                </article>
              </a>
            ))
          }
        </section>
      </ContentSwitch>
    </div>
  </div>
</Layout>

<style>
  h1 {
    @apply text-5xl font-transitional mb-2 font-bold text-center;
  }

  .subtitle {
    @apply mb-20 text-xl text-base-600 font-transitional text-center;
  }

  .card {
    @apply overflow-hidden flex flex-col font-transitional mb-10 p-2 lg:p-8 hover:bg-primary-200 transition-colors rounded-xl;
  }

  .card h2 {
    @apply text-2xl lg:text-4xl mb-2 font-semibold;
  }

  .card date {
    @apply text-base-400 mb-6;
  }

  .card img {
    @apply mb-6;
  }

  .card p {
    @apply text-xl lg:text-2xl;
  }

  .card > p > span {
    @apply text-secondary-500 underline;
  }
</style>
