---
import CardTag from './CardTag.astro';
import { format } from 'date-fns';

interface Props {
  title: string;
  body: any;
  cover?: string;
  date?: Date;
  tags?: string[];
}

const { title, body, date, cover, tags } = Astro.props;

---

<main class="w-full flex items-center justify-center pl-1 pr-4 lg:p-8 mb-20">
  <article>
    <aside>
      <h3 class="font-jebrains text-bgrey uppercase mb-[28px]">
        On this page
      </h3>
      <ul class="flex flex-col gap-4">
      {
        body.headings.map((h: any) => {
          return <li><a class="font-inter font-extrabold text-bgrey text-[14px] hover:underline" href={`#${h.slug}`}>{h.text}</a></li>
        })
      }
      </ul>
    </aside>
    <div class="max-w-[1000px]">
      {tags && <div class="flex gap-[8px] mb-2">{tags.map((t, i) => <CardTag variant={((i % 4) + 1) as (1 | 2 | 3 | 4 | undefined)}>{t}</CardTag>)}</div>}
      {date && <date class="font-inter font-semibold mb-6 block">🗓️ {format(date, 'yyyy-MM-dd')}</date>}
      <h1>{title}</h1>
      {cover && <img src={cover} alt={title} />}
      <section class="max-w-[85ch] w-full prose lg:prose-xl font-inter prose-h2:font-jetbrains prose-h3:font-jetbrains prose-h4:font-jetbrains text-bgrey prose-a:break-all">
        <body.Content />
      </section>
    </div>
  </article>
</main>


<style>
  article {
    @apply bg-bwhite p-[32px] sm:p-[48px] md:p-[72px] lg:p-[96px] border border-solid border-bblack w-full max-w-[1500px] flex;
    box-shadow: 12px 12px 0px 0px #f9d857;
  }

  aside {
    @apply mt-[120px] pr-10 hidden lg:block;
    width: 270px;
    min-width: 270px;
  }

  h1 {
    @apply font-jetbrains capitalize text-bblack text-[32px] lg:text-[48px] font-extrabold mb-[48px];
  }
</style>